{% extends 'base.html' %}
{% block head %}
<title>Brainogram</title>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="static\css\style.css">

<div class="container"><h1 class="brain">Brainogram</h1></div>


<div>
    <img class="brain" src="static\img\brain.jpg" alt="" width="100%">
</div>
<div class="container">
    <section>
        <br><br>
        <p>Hello and welcome to Brainogram, a one place destination for brain, sound, and music.
            We are a community of sound enthusiasts who provide sound design and related services.
            Supported by nxt museum and portable sound museum. Join our community.
            <br><br><br> 
        </p>
    </section>

</div>


{% endblock %}
