img.brain{
    width: 100%;
}
div h1.brain{
    background-color: rgb(2, 2, 2);
    color: white;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 130px;
}
h1.head{
    color: rgb(151, 1, 156);
    font-size: 4em;
}
h3.brain{
    font-weight: lighter;
    color: purple;
}
h5.brain{
    color: purple;   

}
h2.sign{
    color: purple;
}
h1.about{
    color: purple;
}
